body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        color: black;
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
}

.content{
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Optionally set the height to fill the viewport */
    gap: 70px;
}

.container{
 display: flex;
flex-direction: column;
/* Stack items vertically */
align-items: center;
/* Center items horizontally */
justify-content: center;
/* Center items vertically */
height: 300px;
/* Example height */
width: 1000px;
border-color: white;
}
.styled-button {
    /* Set width and height */
    width: 150px;
    height: 100px;
    /* Add other styling as needed */
    background-color:blue;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    /* Add rounded corners */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dashboard-button{
/* Set width and height */
    width: 400px;
    height: 30px;
    /* Add other styling as needed */
    background-color: #c0c0c07d;
    /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    /* Add rounded corners */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style when hover */
.styled-button:hover {
    background-color:black;
}

.dashboard-button:hover{
    background-color:blue;
}

h1{
    color: black;
}